# Indirect
ConfigArgParse==1.2.3
python-dateutil==2.8.1

# Direct
tornado==6.1
motor==2.3.1
pymongo==3.11.3
cerberus==1.3.2
py12flogging==0.5.0

# CDCAGG shared library
git+https://${BBCREDS}@bitbucket.org/cessda/cessda.cdc.aggregator.shared-library@0.1.0#egg=cdcagg_common
# Kuha Common
git+https://bitbucket.org/tietoarkisto/kuha_common@4cd20b4c58731b96fe085b3ccb6cae9b62f8596d#egg=kuha_common
# Kuha Document Store
git+https://bitbucket.org/tietoarkisto/kuha_document_store@784eb0451b64d67b90b84fe0ea464106b75530f7#egg=kuha_document_store
